// fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// variables

/* colors */
$white: #fff;
$red: #f02d34;
$light-red: #f73a40;
$selected: #f0e68c;
$grey: #808080;
$white-2: #eee;
$light-grey: #ebebeb;
$light-grey-2: #dcdcdc;
$gray: #5f5f5f;
$blue: #324d67;
$dark-gray: #3a3939;
$dark-gray-2: #252525;
$dark-blue: #12395e;
$black: #000000;
$green: #31a831;
$background-select: linear-gradient(-45deg, #faa489, #ff79ac, #61c6eb, #4bf5cd);

html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  max-width: 1400px;
  margin: auto;
  width: 100%;
}

.layout {
  padding: 10px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  margin: 6px 18px;
  position: relative;
}

.marquee-text {
  font-size: 29px;
  font-weight: 600;
  margin: 60px 0px;
  color: $red;
}

.marquee {
  position: relative;
  height: 400px;
  width: 100%;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
  width: 180%;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

span.text-red {
  -webkit-text-stroke: 1px $red;
  margin-left: 6px;
}

.logo {
  color: $grey;
  font-size: 18px;
}

.cart-icon {
  font-size: 30px;
  color: $grey;
  cursor: pointer;
  position: relative;
  transition: transform .4s ease;
  border: none;
  background-color: transparent;

  &:hover {
    transform: scale(1.1, 1.1);
  }
}

.cart-item-qty {
  position: absolute;
  right: -8px;
  font-size: 12px;
  color: $white-2;
  background-color: $red;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}

.product-card {
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  color: $dark-blue;

  &:hover {
    transform: scale(1.1, 1.1);
  }
}

.product-image {
  border-radius: 15px;
  background-color: $light-grey;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.product-name {
  font-weight: 500;
}

.product-price {
  font-weight: 800;
  margin-top: 6px;
  color: $black;
}

.hero-banner-container {
  padding: 100px 40px;
  background-color: $light-grey-2;
  border-radius: 15px;
  position: relative;
  height: 500px;
  line-height: 0.9;
  width: 100%;

  .beats-solo {
    font-size: 36px;
    color: $dark-gray;
    margin-bottom: 30px;
  }

  button {
    border-radius: 15px;
    padding: 10px 16px;
    background-color: $red;
    color: white;
    border: none;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    z-index: 10000 !important;
  }

  h3 {
    font-size: 4rem;
    margin-top: 4px;
    color: $dark-gray;
    margin-bottom: 16px;
  }

  h1 {
    color: white;
    font-size: 10em;
    margin-left: -20px;
    text-transform: uppercase;
    color: $dark-gray;
  }

  .desc {
    position: absolute;
    right: 10%;
    bottom: 5%;
    width: 500px;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    color: $blue;

    p {
      color: $gray;
      font-weight: 400;
      text-align: end;
    }

    h5 {
      margin-bottom: 12px;
      font-weight: 700;
      font-size: 16px;
      align-self: flex-end;
    }
  }
}

.hero-banner-image {
  position: absolute;
  top: 0%;
  right: 20%;
  width: 450px;
  height: 450px;
}

.description {
  position: absolute;
  right: 10%;
  bottom: 5%;
  width: 300px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  color: $dark-blue;

  p {
    color: $gray;
    font-weight: 400;
    text-align: end;
  }

  h5 {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 16px;
    align-self: flex-end;
  }
}

.products-heading {
  text-align: center;
  margin: 40px 0px;
  color: $gray;

  h2 {
    font-size: 40px;
    font-weight: 800;
    color: $dark-blue
  }

  p {
    font-size: 16px;
    font-weight: 600;
  }
}

.footer-banner-container {
  padding: 100px 40px;
  background-color: $light-red;
  border-radius: 15px;
  position: relative;
  height: 400px;
  line-height: 1;
  color: white;
  width: 100%;
  margin-top: 120px;

  .banner-desc {
    margin-top: -65px;

    .left {
      max-width: 800px;

      h3 {
        font-weight: 600;
        font-size: 40px;
        margin-left: 25px;
        margin-bottom: 25px;
      }

      h5 {
        font-size: 30px;
        margin-top: 36px;
        margin-left: 25px;
        font-weight: 400;
      }
    }

    .footer-banner-image {
      position: absolute;
      top: 19%;
      left: 41%;
      width: 16%;
    }
  }
}

.banner-desc {
  display: flex;
  justify-content: space-between;

  button {
    border-radius: 15px;
    padding: 10px 16px;
    background-color: white;
    color: red;
    border: none;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
  }

  .left {
    h3 {
      font-weight: 900;
      font-size: 80px;
      margin-left: 25px;
    }

    p {
      margin: 18px;
    }
  }
}

.footer-banner-image {
  position: absolute;

  /* top: -35%;
  left: 8%; */
  top: -25%;
  left: 25%;
}

.banner-desc .right {
  line-height: 1.4;

  h3 {
    font-weight: 800;
    font-size: 60px;
  }

  p {
    font-size: 18px;
  }

  .company-desc {
    font-size: 14px;
    font-weight: 300;
  }
}

.cart-wrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  /* will-change: transform; */
  transition: all 1s ease-in-out;
}

.cart-container {
  height: 100vh;
  width: 600px;
  background-color: white;
  float: right;
  padding: 40px 10px;
  position: relative;
}

.footer-container {
  color: $dark-blue;
  text-align: center;
  margin-top: 20px;
  padding: 30px 10px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;

  .icons {
    font-size: 30px;
    display: flex;
    gap: 10px;
  }
}

.cart-heading {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;

  .heading {
    margin-left: 10px;
  }
}

.cart-num-items {
  margin-left: 10px;
  color: $red;
}

.empty-cart {
  margin: 40px;
  text-align: center;
  color: $dark-gray;

  h3 {
    font-weight: 600;
    font-size: 20px;
  }
}

.cancel {
  cursor: pointer;
}

.product-container {
  margin-top: 15px;
  overflow: auto;
  max-height: 70vh;
  padding: 20px 10px;
}

.product {
  display: flex;
  gap: 30px;
  padding: 20px;

  .cart-product-image {
    width: 180px;
    height: 150px;
    border-radius: 15px;
    background-color: $light-grey;
  }
}

.item-desc {
  .flex {
    display: flex;
    justify-content: space-between;
    width: 350px;
    color: $dark-blue;
  }

  .bottom {
    margin-top: 60px;
  }
}

.flex {
  h5 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }
}

.total {
  display: flex;
  justify-content: space-between;

  h3 {
    font-size: 22px;
  }
}

.remove-item {
  font-size: 24px;
  color: $red;
  cursor: pointer;
  background: transparent;
  border: none;
}

.cart-bottom {
  position: absolute;
  bottom: 12px;
  right: 5px;
  width: 100%;
  padding: 30px 65px;
}

.btn-container {
  width: 400px;
  margin: auto;
}

.btn {
  width: 100%;
  max-width: 400px;
  padding: 10px 12px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  margin-top: 10px;
  margin-top: 40px;
  text-transform: uppercase;
  background-color: $red;
  color: $white;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;

  &:hover {
    transform: scale(1.1, 1.1);
  }
}

.product-detail-container {
  display: flex;
  gap: 40px;
  margin: 40px;
  margin-top: 60px;
  color: $dark-blue;
}

.product-detail-image {
  border-radius: 15px;
  background-color: $light-grey;
  width: 400px;
  height: 400px;
  cursor: pointer;
  transition: .3s ease-in-out;

  &:hover {
    background: $background-select;
    animation: gradient 15s ease infinite;
  }
}

.small-images-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.small-image {
  border-radius: 8px;
  background-color: $light-grey;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.selected-image {
  background-color: $selected;
}

.reviews {
  color: $red;
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.product-detail-desc {

  h4,
  p {
    margin-top: 10px;
  }
}

.reviews p {
  color: $dark-blue;
  margin-top: 0px;
}

.product-detail-desc .price {
  font-weight: 700;
  font-size: 26px;
  margin-top: 30px;
  color: $red;
}

.price .old-price,
.product-price .old-price,
.price .old-price {
  color: $grey;
  text-decoration: line-through;
}

.product-detail-desc {
  .quantity {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    align-items: center;
  }

  .buttons {
    display: flex;
    gap: 30px;
  }
}

.buttons {
  .add-to-cart {
    padding: 10px 20px;
    border: 1px solid $red;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    background-color: white;
    color: $red;
    cursor: pointer;
    width: 200px;
    transform: scale(1, 1);
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.1, 1.1);
    }
  }

  .buy-now {
    width: 200px;
    padding: 10px 20px;
    background-color: $red;
    color: white;
    border: none;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.1, 1.1);
    }
  }
}

.quantity-desc {
  border: 1px solid $grey;
  padding: 6px;

  span {
    font-size: 16px;
    padding: 6px 12px;
    cursor: pointer;
  }

  .minus {
    border-right: 1px solid $grey;
    color: $red;
  }

  .num {
    border-right: 1px solid $grey;
    font-size: 20px;
  }

  .plus {
    color: $green;
  }
}

.also-maylike-products-wrapper {
  margin-top: 120px;

  h2 {
    text-align: center;
    margin: 50px;
    color: $dark-blue;
    font-size: 28px;
  }
}

.also-maylike-products-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.max-qty {
  font-weight: 500;
  color: $red;
}

.success-wrapper,
.cancel-wrapper {
  background-color: white;
  min-height: 60vh;
}

.success,
.cancel {
  width: 1000px;
  margin: auto;
  margin-top: 160px;
  background-color: $light-grey-2;
  padding: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success {
  background-color: #eaf7e4;

  .icon {
    color: green;
    font-size: 40px;
  }

  h2 {
    margin-top: 15px 0px;
    font-weight: 900;
    font-size: 40px;
    color: $dark-blue;
  }

  h3 {
    font-size: 26px;
    margin-bottom: 10px;
    color: $dark-gray-2;
  }

  .email-msg {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: $dark-gray-2;
  }
}

.cancel p {
  font-size: 20px;
  font-weight: 600;
}

.product-max-qty {
  margin-top: 10px;
}

@media screen and (max-width: 800px) {
  .hero-banner-container {
    height: 560px;
  }

  .hero-banner-container .desc {
    width: 320px;
  }

  .hero-banner-image {
    width: 51%;
    height: 36%;
    top: 41%;
    right: -6%;
  }

  .footer-banner-container {
    height: 560px;
    margin-top: 80px;

    .footer-banner-image {
      width: 33% !important;
      left: 67% !important;
      top: 38% !important;
      height: 27%;
    }
  }


  .banner-desc {
    .left {
      h3 {
        font-weight: 900;
        font-size: 50px;
        margin-left: 5px;
      }

      p {
        margin: 18px;
      }
    }

    .right {
      h3 {
        font-size: 45px;
      }

      p {
        font-size: 18px;
      }

      .company-desc {
        font-size: 14px;
      }
    }

    flex-wrap: wrap;
    gap: 20px;
  }

  .hero-banner-container {
    line-height: 1.3;

    h1 {
      font-size: 50px;
    }

    h3 {
      font-size: 40px;
    }

    button {
      margin-top: 90px;
      z-index: 10000;
    }
  }


  .product-detail-container {
    flex-wrap: wrap;

    .product-detail-image {
      width: 350px;
      height: 350px;
    }
  }

  .cart-container {
    width: 415px;
    padding: 4px;
  }

  .cart-heading {
    margin-top: 35px;
  }

  .product-container {
    margin-top: 10px;
  }

  .product {
    padding: 20px 5px;

    .cart-product-image {
      width: 25%;
      height: 25%;
    }
  }

  .buttons {

    .add-to-cart,
    .buy-now {
      width: 150px;
    }
  }

  .product-detail-container {
    margin: 20px;
  }

  .item-desc .flex {
    width: 200px;
  }

  .top {
    flex-wrap: wrap;
    gap: 10px;
  }

  .item-desc .bottom {
    margin-top: 30px;
  }

  .flex {
    h5 {
      font-size: 16px;
      color: $dark-blue;
    }

    h4 {
      font-size: 16px;
      color: black;
    }
  }

  .cart-bottom {
    padding: 30px;
  }

  .total h3 {
    font-size: 20px;
  }

  .track {
    animation: marquee 10s linear infinite;
    width: 550%;
  }

  .success-wrapper,
  .cancel-wrapper {
    min-height: 69vh;
  }

  .success,
  .cancel {
    width: 370px;
    margin-top: 100px;
    padding: 20px;
  }

  .success {
    height: 350px;

    h2 {
      font-size: 17px;
    }
  }

  .btn-container {
    width: 300px;
    margin: auto;
  }
}